.container {
	margin-top: -2%;
}

/* body {
	background-color: #98AFC7;
} */

button {
	position: relative;
	margin-top: -2%;
}

h1 {
	font-family: Georgia;
}

h3, h5 {
	display: inline;
	font-family: Verdana;
}

div {
	padding: 1%;
}

div.bordered {
	border-bottom: 1px solid #373737;
	border-right: 1px solid #373737;
}

#ipDiv {
	width: 43%;
}

#submitIPButton {
	position: relative;
	top: -10%;
}

#choosePodDiv {
	width: 43%;
}

#choosePod {
	display: inline;
	position: relative;
	left: 5%;
}

#podConnectionStatus {
	display: inline;
}

#currentPod {
	display: inline;
	margin-left: 15%;
}

#drillProcessDiv {
	width: 43%;
}

#outerDrillControlDiv {
	width: 42%;
}

#drillControlDiv {
	margin-top: 5%;
}

#spinButton {
	margin-right: 15%;
}

#drillSpinStatus {
	display: inline;
}

#drillMovementStatus {
	display: inline;
	margin-left: 15%;
}

#moveServoButton {
	margin-top: 7%;
}

#encoderValueDiv {
	margin-top: -16%;
	margin-left: 42%;
	height: 60px;
}

#consoleBoxTitle {
	position: absolute;
	left: 47%;
	top: 9%;
}

#lockScrollBarButton {
	position: absolute;
	left: 64%;
	top: 15%;
}

#printFeedbackButton {
	position: absolute;
	left: 77%;
	top: 15%;
}

#consoleBox {
	padding: 0%;
	position: absolute;
	left: 47%;
	top: 16%;
	width: 40%;
	height: 35%;
	border: 5px solid #2e6da4;
	border-style: groove;
  overflow: auto;
	white-space: pre-line;
	word-wrap: break-word;
	font-size: 12pt;
	font: helvetica;
	background-color: #D3D3D3;
}

#downloadFileBox {
	position: absolute;
	left: 44%;
	top: 54%;
	width: 44%;
	height: 10%;
	border-top: 1px solid #373737;
	border-left: 1px solid #373737;
	background-color: #80ced6;
}

#downloadDataButton {
	display: block;
  margin-left: auto;
	margin-right: auto;
}

#temperatureDiv {
	position: absolute;
	left: 44%;
	top: 60%;
	width: 22%;
	height: 32%;
	border-left: 1px solid #373737;
	background-color: #80ced6;
	border-top: 1px dashed #373737;
}

#humidityDiv {
	position: absolute;
	left: 66%;
	top: 60%;
	width: 22%;
	height: 32%;
	background-color: #80ced6;
	border-left: 1px dashed #373737;
	border-top: 1px dashed #373737;
}

.slider {
	  transform: rotate(90deg);
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
#slider1 {
	opacity: 1;
}
#slider1::-webkit-slider-thumb {
	background: #2e6da4;
}
#slider2 {
	position: relative;
	left: 30%;
	margin-top: -10%;
}

.red {
	color: red;
}

.green {
	color: green;
}
