/* Hacky CSS to get Compass to work for SAR. Will be fixed later.
.under {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.over {
	position: absolute;
	left: 15px;
	top: 40px;
	z-index: -1;
}

#compass-without-needle {
	height: 200px;
	width: 200px;
}

#compass-needle {
	height: 180px;
	width: 180px;
} */

h2 {
    display: inline;
}