section {
    margin: 1.5rem 0 3rem;
}

h1 {
    display: inline;
}

.icon {
    font-size: 1.2em;
}

.icon-red {
    color: red;
}

.icon-yellow {
    color: #eebb00;
}

.icon-green {
    color: green;
}
