body {
	padding: 10px;
}

#mapid { 
	height: 410px; 
	width: 100%;
}

#video {
	display: block;
	height: 410px;
	width: 100%;
}

.row.margin-top {
	margin-top: 35px;
}

.row.margin-top-console {
	margin-top: 12px;
}

.row.margin-top-camera {
	margin-top: 12px;
}

.number {
	margin-top: 10px;
}